*{
	position: relative;
	box-sizing: border-box;
	font-family: arial;
}
html,body{
	height: 100%;
}
.wrapper{
	height: 100%;
	/*漸層色不能寫成background-color*/
	background: linear-gradient(#4c68d7,#8a3ab9,#bc2a8d,#cd486b,#e95950,#fbad50,#fccc63);
}
.camera{
	width: 200px;
	height: 200px;
	border: solid 10px #fff;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: 
			ballUp 0.5s 1s both,
			/*變化曲線ease-in讓球有重力感*/
			ballDown 0.2s 1.5s ease-in forwards,
			cameraIn 0.3s 1.7s forwards;
	/*要讓.picture有透視感，須將透視屬性寫在picture的上一層.camera*/
	perspective: 500px;
}
@keyframes ballUp{
	0%{
		top: 50%;
		width: 5px;
		height: 5px;
		opacity: 0;	
	}
	/*在10%時就先完成淡入*/
	10%{
		opacity: 1;
	}
	100%{
		top: 10%;
		width: 5px;
		height: 5px;
	}
}
@keyframes ballDown{
	0%{
		top: 10%;
	}
	100%{
		top: 50%;
	}
}
@keyframes cameraIn{
	0%{
		width: 5px;
		height: 5px;
	}
	/*相機框稍微彈一下的效果*/
	80%{
		width: 250px;
		height: 250px;
	}
	100%{
		width: 200px;
		height: 200px;
	}
}
.lens{
	width: 100px;
	height: 100px;
	border: 15px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: lensIn 0.3s 1.8s backwards;
}
@keyframes lensIn{
	0%{
		width: 0px;
		height: 0px;
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	80%{
		width: 120px;
		height: 120px;
	}
	100%{
		width: 100px;
		height: 100px;
	}
}
.flashLight{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	right: 20px;
	animation: flashLightIn 0.3s 2.2s backwards;
}
@keyframes flashLightIn{
	0%{transform: scale(0);}
	80%{transform: scale(1.2);}
	100%{transform: scale(1);}
}
.flashLight:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgba(256,256,256,0.5);
	animation: flash 0.3s 3s;
	/*加寫透明度，動畫填充模式就不需多寫both*/
	opacity: 0;
}
@keyframes flash{
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 0;}
	75%{opacity: 1;}
	100%{opacity: 0;}
}
.picture{
	width: 250px;
	height: 250px;
	border: 10px solid #fff;
	border-bottom: 20px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #ccc;
	animation: 
			pictureIn 1s 3.5s backwards,
			pictureFlip 1s 4.5s;
	/*圖片註解文字超出.picture的範圍，所以寫在這裡*/
	overflow: hidden;
	/*滑鼠滑入動畫，屬性all寬高同時變化*/
	transition: all 0.3s;
}
.picture:hover{
	/*滑鼠滑入動畫寫在.picture*/
	width: 400px;
	height: 400px;
	background-color: #fff;
	border: 0;
	padding: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
@keyframes pictureIn{
	0%{
		height: 0px;
		width: 120px;
		top: 100%;
		transform: translate(-50%,0);
		opacity: 0;
	}
	100%{
		height: 120px;
		width: 120px;
		top: 100%;
		transform: translate(-50%,0);
	}
}
@keyframes pictureFlip{
	0%{
		height: 120px;
		width: 120px;
		top: 100%;
		transform: translate(-50%,0) rotateX(0deg);
				
	}
	100%{
		height: 250px;
		width: 250px;
		top: 50%;
		transform: translate(-50%,-50%) rotateX(360deg);
	}
}
.picture .imgBox{
	animation: showImg 1s 5s backwards;
	/*寫死img的高度並做overflow隱藏*/
	height: 300px;
	overflow: hidden;
}
@keyframes showImg{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.picture .imgBox img{
	/*img會針對他的上層.imgBox做寬度的填滿*/
	width: 100%;
}
.picture h1{
	/*reset的文字有寫magin，要先拿掉*/
	margin: 0;
	font-size: 24px;	
	line-height: 40px;
	color: #333;
}
.picture h2{
	margin: 0;
	font-size: 16px;	
	line-height: 30px;
	color: #333;
}
/*.text原本是沒有字的*/
.picture .text{
	opacity: 0;
	transform: translateX(-20%);
}
/*滑鼠滑入.picture後text發生的效果*/
.picture:hover .text{
	opacity: 1;
	transform: translateX(0);
	transition: all 1s 0.3s;
}
/*~選擇符，滑鼠移上picture時選到.mouse做隱藏的意思*/
.picture:hover ~ .mouse{
	/*不可見*/
	visibility: hidden;
}
.mouse{
	width: 25px;
	height: 25px;
	/*border: 1px solid #000;*/
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: url(pointer.svg);
	/*圖片填滿整個.mouse*/
	background-size: cover;
	animation: mouseHover 1.5s 5.5s infinite;
	/*配合動畫20%和80%的淡入淡出*/
	opacity: 0;
}
@keyframes mouseHover{
	0%{top: 150%;}
	/*0~20%淡入*/
	20%{opacity: 1;}
	/*80~100%淡出*/
	80%{opacity: 1;}
	100%{top: 60%;}
}